<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.manager.dao.BorrowMapper">
    <resultMap id="BaseResultMap" type="Borrow">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="book_id" jdbcType="INTEGER" property="bookId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="ret" jdbcType="INTEGER" property="ret"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>
    <insert id="addBorrow" parameterType="Borrow">
        insert into borrow(user_id, book_id, create_time, update_time, ret, end_time)
        values (#{userId}, #{bookId}, #{createTime}, #{updateTime}, #{ret}, #{endTime})
    </insert>
    <select id="findByUserId" parameterType="Integer" resultMap="BaseResultMap">
        select * from borrow where user_id = #{userId}
    </select>
    <update id="retBook" parameterType="Integer">
        update  borrow
        set ret = 0
        where user_id = #{userId} and book_id = #{bookId}
    </update>
    <select id="findBorrowByUserIdAndBookId" resultMap="BaseResultMap" parameterType="Integer" resultType="Borrow">
        select * from borrow where user_id = #{userId} and book_id = #{bookId}
    </select>
</mapper>